h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family-roboto);
    padding: 0;
    margin: 0;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-width: 25px;
    padding: 10px;
    gap: 10px;
}

.search-bar-container * {
    font-family: var(--font-family-outfit);
}

#poweredby-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#search-input-form {
    display: flex;
    gap: 15px;
}

input[type='text'] {
    
  width: 250px;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='text']:focus {
    box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.70);
    outline: 0;
}

input[type='submit'] {
    background-color: #05a081;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 12px;
    transition: all 0.2s;
}


input[type='submit']:hover {
    background-color: #017f66;
}

input[type='submit']:active {
    transform: translateY(2px);
}


#search-helper-text {
    font-weight: 500;
}

#pexels-logo {
    width: 100px;
    height: auto;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.image-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #017f66;
}

.info-icon-container {
    display: flex;
    position: absolute;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    transform: translateY(-25px);
}

.info-icon {
    color: whitesmoke;
    font-size: 25px;
}

.image-container img {
    width: 100%;
}

.image-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    visibility: hidden;
}

.image-detail-container.visible {
    visibility: visible;
}

.image-detail-container * {
    font-family: var(--font-family-outfit);
    color: white;
    text-transform: lowercase;
}

.image-link {
    margin: 30px;
}

@media only screen and (max-width: 1200px) {
    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .gallery-container {
        grid-template-columns: 1fr 1fr;
    }
}